html {
  font-size: 18px;
}


ul{
    display: block;
    /*list-style-type: none;*/
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


h2{
    font-size: 20px;
	font-weight: 600;
}
h3{
	text-align: center;
    font-size: 28px;
	font-weight: 600;
}
.container{
    width: 100vw ;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;

	/*background-color: #cce6ff;*/
    grid-template-areas: "left-content left-content right-content right-content";
}

  .left-content{
    grid-area: left-content;
	padding: 10px;
  }

  
  .right-content{
    grid-area: right-content;
    border-left: 1px solid grey;
	padding-left: 10px;
  }
#sn-row {
  display: flex;
}

#sn-column-left {
	  display: flex;
  flex: 50%;
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 15px;
  text-align: center;
}

#sn-column-right {
  flex: 50%;
  border: 5px solid #e3f7d5;
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 15px;
  text-align: left;
}
  