body {
  background-color: #83c458;
}

#sn-title {
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 60px;
  letter-spacing: 0px;
  word-spacing: 2px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  border: 5px solid #e3f7d5;
  margin-left: 100px;
  margin-right: 100px;
}

#sn-row {
  display: flex;
}

#sn-column-left {
  flex: 50%;
  border: 5px solid #e3f7d5;
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
}

#sn-column-right {
  flex: 50%;
  border: 5px solid #e3f7d5;
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  text-align: left;
}

#sn-recipe-box {
  border: 5px solid #e3f7d5;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 15px;
  text-align: left;
  background-color: #e3f7d5;
  border: 5px dashed #000000;
}

#sn-recipe-pic {
  float: right;

}